<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Логирование в файл -->
		<target xsi:type="File" name="fileTarget"
				fileName="logs/gameclient-${shortdate}.log"
				layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${exception:format=tostring}" />

		<!-- Логирование в консоль -->
		<target xsi:type="Console" name="consoleTarget"
				layout="${time} [${uppercase:${level}}] ${logger}: ${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<!-- Все логи уровня Info и выше в файл -->
		<logger name="*" minlevel="Info" writeTo="fileTarget" />

		<!-- Все логи уровня Debug и выше в консоль (только в Debug режиме) -->
		<logger name="*" minlevel="Debug" writeTo="consoleTarget" />
	</rules>
</nlog>